<h1>Listing user_classes</h1>

<table>
  <tr>
    <th>Classname</th>
    <th>Classdesc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_classes.each do |user_class| %>
  <tr>
    <td><%= user_class.classname %></td>
    <td><%= user_class.classdesc %></td>
    <td><%= link_to 'Show', user_class %></td>
    <td><%= link_to 'Edit', edit_user_class_path(user_class) %></td>
    <td><%= link_to 'Destroy', user_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User class', new_user_class_path %>
